{# macro to generate markup for select filters #}
{% macro selectFilter(name, label, options, selectedOptionSlug) %}
    {% if options %}
        <div class="flex flex-col w-full gap-1">
            <label for="{{ name }}">{{ label }}</label>

            <select
                name="{{ name }}"
                class="border filters-select"
                data-bind="{{ name }}"
                >
                <option value="">All</option>

                {% for option in options %}
                    <option value="{{ option.slug }}" {{ option.slug == selectedOptionSlug ? 'selected' }}>{{ option.title }}</option>
                {% endfor %}
            </select>
        </div>
    {% endif %}
{% endmacro %}

{#
params passed in from the parent template
remember to add any new filters here
#}
{% set sectionHandle = sectionHandle ?? null %}
{% set limit = limit ?? 12 %}

{# get query parameters to set initial filter state #}
{% set search = craft.app.request.getParam('search') ?? null %}
{% set category = craft.app.request.getParam('category') ?? null %}
{% set page = craft.app.request.getParam('page') ?? 1 %}

{# initialise showClearFilters #}
{% set showClearFilters = false %}

{# initialise the entry query #}
{% set entryQuery = craft.entries.section(sectionHandle).limit(limit).with(craft.app.config.custom.relatedPageEagerLoadElements) %}

{# add search term to entry query #}
{% if search %}
    {% do entryQuery.search(search) %}
    {% set showClearFilters = true %}
{% endif %}

{# add relatedTo items to entry query #}
{% set relatedToEntries = [] %}

{# add category dropdown to relatedToEntries #}
{% if category %}
    {% set categoryEntry = category ? craft.entries.section('categories').slug(category).one() : null %}
    {% set relatedToEntries = category ? relatedToEntries|push(categoryEntry) : relatedEntries %}
    {% set showClearFilters = true %}
{% endif %}

{# example extra filter #}
{# {% if location %}
    {% set locationEntry = location ? craft.entries.section('categories').slug(location).one() : null %}
    {% set relatedToEntries = location ? relatedToEntries|push(locationEntry) : relatedEntries %}
    {% set showClearFilters = true %}
{% endif %} #}

{# add relatedToEntries to entry query #}
{% if relatedToEntries %}
    {% do entryQuery.relatedTo(relatedToEntries) %}
{% endif %}

{#
update URL with query string
remember to add any new filters here
#}
{# {% do sprig.pushUrl(craft.misc.buildQueryString({
    search: search,
    category: category,
    page: page
})) %} #}

{# get results and paginate #}
{# {% set pageInfo = sprig.paginate(entryQuery, page) %} #}
{% paginate entryQuery as pageInfo, entries %}
{#
common sprig attributes:
- s-replace: inject the #results content into #results
- s-indicator: add the loading indicator class to #results
- s-sync: cancel previous sprig requests when a new one is made
- s-swap: show the top of the page when the results are updated
#}
{# {% set sprigAttributes = {
    "s-replace" : "#results-page",
    "s-indicator" : "#results",
    "s-sync": "#results-page:replace",
    's-swap': 'show:top'
} %} #}

{% set datastarQuery = datastar.get('site/_datastar/search.twig') %}

{# ========================
===========================
finally some actual markup
===========================
======================== #}

{# <button id="test" class="" data-on-click="{{ datastar.post('/actions/misc/datastar/testing') }}">test</button> #}

<div class="scroll-mt-0" id="results-page" data-signals="{page: {{ pageInfo.currentPage }}, search: '{{ search }}', category: '{{ category }}'}">

{# <pre data-text="ctx.signals.JSON()">Replace me</pre> #}

    {#
    =======
    filters
    =======
    #}
    <div class="py-8 bg-grey-200">
        <div class="container">
            <div class="flex flex-col gap-6 md:flex-row flex-nowrap form">
                <div class="flex flex-col w-full gap-1">
                    <label class="col-span-1" for="search">Search</label>
                    <input
                        name="search"
                        type="search"
                        value="{{ search }}"
                        placeholder="Search"
                        class="col-span-1 border"
                        data-bind="search"
                        data-on-change="$page = 1;{{ datastarQuery }}"
                    >
                </div>

                {# category dropdown #}
                {{ _self.selectFilter(
                    'category',
                    'Category',
                    craft.misc.getUsedCategories('categories', sectionHandle),
                    category,
                ) }}

                {# example extra filter #}
                {# {{ _self.selectFilter(
                    'location',
                    'Location',
                    craft.misc.getUsedCategories('locations', sectionHandle),
                    location,
                ) }} #}

                <div class="mt-auto">
                    <button class="w-auto font-semibold btn btn-grey-dark btn-filter" data-on-click="$page = 1;{{ datastarQuery }}">
                        Search
                    </button>
                </div>
            </div>

            <div class="flex justify-between w-full mt-6 type-sm">
                {# total results #}
                <div id="results-info">Page {{ pageInfo.currentPage }} of {{ pageInfo.total }} {{ 'result'|pluralize(pageInfo.total) }}</div>

                {#
                pass query params to be reset
                remember to add any new filters here
                #}

                    <button
                        id="clear-filters"
                        class="flex items-center cursor-pointer {{ showClearFilters ? "" : "!hidden" }}"
                        data-on-click="$page = 1; $category = '';$search = '';{{ datastarQuery }}"
                    >
                        <span class="block w-3 mr-2">{{ svg("@webroot/assets/img/svg/close.svg") }}</span>
                        <span>Clear All</span>
                    </button>
            </div>
        </div>
    </div>



    {#
    =======
    results
    =======
    #}
    <div class="container relative group">
        <div class="group-[.htmx-request]:opacity-10 opacity-100 transition-opacity py-12">
            {# cards #}
            <div class="grid gap-8 md:grid-cols-3" id="results">
                {% for _entry in entries %}
                    {% include "/site/includes/cards/layouts/default.twig" %}
                {% else %}
                    <div class="col-span-full">
                        <p>No results found</p>
                    </div>
                {% endfor %}
            </div>
        </div>

        {% include "site/includes/pagination" %}

        {% include "site/includes/loading-indicator" %}
    </div>
</div>
